html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.gradient {
  background:  #691C32;
  background: linear-gradient(
    135deg,
    #691C32 0%,
    #833F4C 80%
  );
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.feature {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}
